* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
}

.wrapper {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 74px;
}

.header {
  background: rgba(0, 0, 0, 0.4);
}
.header-wrapper {
  max-width: 1200px;
  padding: 18px 79px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  transition: 0.3s;
}
.header-logo:hover {
  color: #3cb878;
}
.header-right {
  width: 347px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right-icons {
  width: 118px;
  display: flex;
  justify-content: space-between;
}
.header-right-icons svg {
  cursor: pointer;
}
.header-right-icon svg:hover .icon {
  fill: #3cb878;
}
.header-right-text {
  color: #fff;
  font-size: 14px;
  line-height: 14xp;
  cursor: pointer;
  position: relative;
}
.header-right-text-hover:hover {
  color: #3cb878;
}
.header-right-text::before {
  content: "";
  width: 1px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  top: -3px;
  left: -27px;
}

.main {
  width: 444px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 54px;
  position: relative;
}
.main::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  top: 29px;
}
.main-container {
  max-width: 330px;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 38px;
}
.main-text {
  display: flex;
  justify-content: space-between;
}
.main-text-left {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.main-text-right {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  cursor: pointer;
}
.main-text-right:hover {
  color: #01813f;
  text-decoration: underline;
}
.main-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.main-btn {
  display: block;
  width: 160px;
  height: 48px;
  border-radius: 5px;
}
.main-button-left,
.main-button-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  transition: 0.3s;
}
.main-button-left {
  background-color: #305db8;
}
.main-button-left:hover {
  background-color: #022263;
}
.main-button-right {
  background-color: #df4a32;
}
.main-button-right:hover {
  background-color: #ab1f09;
}
.main-button-text {
  position: relative;
}
.main-button-text::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;
  top: -5px;
  left: -18px;
}
.main-line {
  margin-top: 31px;
  text-align: center;
  position: relative;
  color: #848484;
  font-size: 14px;
  line-height: 14px;
}
.main-line::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #e5e5e5;
  top: 8px;
  left: 1px;
}
.main-line::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #e5e5e5;
  top: 8px;
  right: 1px;
}
.main-form {
  margin-top: 11px;
}
.main-form-input {
  display: block;
  width: 100%;
  color: #434343;
  padding: 16px 0 16px 20px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.main-form label input {
  margin-bottom: 15px;
}
.main-form-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
::-webkit-input-placeholder {
  color: #bebebe;
}
:focus::-webkit-input-placeholder {
  color: #434343;
}
.main-form-checkbox {
  display: block;
  cursor: pointer;
  margin-top: -3px;
  max-width: 257px;
}
.main-form-checkbox-real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.main-form-checkbox-fake {
  position: relative;
  display: inline-block;
  margin-right: 11px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  background-color: transparent;
  vertical-align: text-top;
}
.main-form-checkbox-real:checked + .main-form-checkbox-fake {
  background-image: url(../img/main/main-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main-form-checkbox-real:checked + .main-form-checkbox-fake:hover {
  background-image: url(../img/main/main-check-hover.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main-form-checkbox-title {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.main-form-checkbox-title span {
  color: rgba(60, 184, 120, 0.8);
}
.main-form-checkbox:hover .main-form-checkbox-title span {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}
.main-form-checkbox:hover
  .main-form-checkbox-real:checked
  + .main-form-checkbox-fake {
  background-image: url(../img/main/main-check-hover.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main-form-button {
  margin-top: 20px;
  width: 100%;
  padding: 16px 99px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.main-form-button:hover {
  background-color: #01813f;
}
