body {
  font-family: "Montserrat", sans-serif;
  color: #373737;
}
.header {
  padding: 25.5px 0;
}
.menu-list {
  text-align: center;
}
.menu-list li {
  display: inline-block;
  margin: 0 36px;
}
.menu-list a {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
  font-weight: 700;
  letter-spacing: 2px;
}
.images {
  height: 789px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  padding-top: 49px;
  padding-bottom: 38px;
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.text {
  text-align: center;
  padding: 0 67.5px 28px 67px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 2px;
}
.button {
  padding-top: 56px;
  padding-bottom: 82px;
  text-align: center;
}
.button button {
  width: 191px;
  height: 51px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #ff0000;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1.8px;
  cursor: pointer;
}
.footer {
  text-align: right;
  padding-right: 105px;
  padding-bottom: 29px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2.5px;
}
