* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header-logo {
  padding: 61px 0px 38px 0px;
}
.header-menu-list {
  display: flex;
}
.header-menu-list a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  height: 69px;
  text-align: center;
  background-color: #35444f;
}
.header-menu-list a:hover {
  background-color: #222f3a;
}
.header-menu-link1 {
  width: 161px;
  border-right: 1px solid #fff;
}
.header-menu-link2 {
  width: 330px;
  padding: 0 32px;
  border-right: 1px solid #fff;
}
.header-menu-link3 {
  width: 152px;
  padding: 0 38px;
  border-right: 1px solid #fff;
}
.header-menu-link4 {
  width: 283px;
  padding: 0 40px;
  border-right: 1px solid #fff;
}
.header-menu-link5 {
  width: 355px;
  padding-right: 135px;
}
.header-menu li:hover {
  background-color: #222f3a;
}
.main {
  padding: 50px 0px 54px 0px;
}
.main-inner {
  display: flex;
  justify-content: space-between;
}
.aside {
  border: 1px solid #000000;
  width: 344px;
  height: 407px;
}
.aside-menu a {
  height: 81px;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 42px;
  transition: 0.3s;
}
.aside-menu a:hover {
  padding-left: 65px;
  background-color: #dbdbdb;
  color: #000;
}
.content {
  max-width: 880px;
}
.content-box {
  border: 1px solid #000000;
  width: 880px;
  height: 529px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-box img {
  transition: 1s;
}
.content-box img:hover {
  transform: scale(1.2);
}
.content-text {
  margin-top: 37px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  font-weight: 400;
}
.content-text1 {
  padding-bottom: 34px;
}
.footer-inner {
  width: 1280px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 30px;
  background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu {
  width: 928px;
  display: flex;
  justify-content: space-between;
}
.footer-menu a {
  text-decoration: none;
  color: #0c1927;
  font-size: 28px;
  line-height: 28px;
}
.footer-menu a:hover {
  color: #3181a6;
  padding-bottom: 8px;
  border-bottom: 1px solid #3181a6;
}
.footer-copy p {
  color: #010101;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
