body {
    background-color: rgba(8, 8, 8, 0.9);
}

.card {
    margin: 10% auto;
    padding: 25px;
    background-color: lightgrey;
    border: 2px solid grey;
    max-width: 200px;
    text-align: center;
    border-radius: 10%;
    min-height: 300px;
}

.find {
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border: 1px solid blue;
    color: blue;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15%;
    box-shadow: 0px 6px 0px 0.5px blue;
    transition: .3s;
}
.find:focus {
    transform: translate(0px, 4px);
    box-shadow:  0px 2px 0px 0.5px blue;
}

.text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700; 
   
}
.output {
    text-align: left;   
}

.output-text-true {
    color: green;
}
.output-text-false {
    color: red;
}