.Title {
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  margin-top: 120px;
  text-align: center;
}

.Favorite {
  max-width: 1000px;
  margin: 120px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}
