* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Header */


.header-top {
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-btn-to-top {
  position: fixed;
  right: 30px;
  top: 88%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px 8px rgba(137, 202, 98, 1);
  font-size: 40px;
  cursor: pointer;
  background-color: #14b9d5;
  display: none;
  color:#fff;
}
.header-logo {
  margin-left: 29px;
}
.header-menu {
  display: flex;
  align-items: center;
  padding: 28px 0 26px;
  margin-right: 29px;
}
.header-menu a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  margin: 0 17.5px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.header-menu a:hover {
  color: #14b9d5;
}
.header-search {
  background-color: #000000;
  padding: 26.5px 25px;
}
.header-search img {
  padding-left: 3px;
}

.header-sub-menu {
  display: flex;
  justify-content: center;
  line-height: 60px;
}
.header-sub-menu a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin: 0 25px;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.header-sub-menu a:hover {
  color: #14b9d5;
}
.hero {
  height: 368px;
  background: url(../img/header/hero-parallax.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  background-attachment: fixed;
}
.header-title {
  font-size: 27px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 160px;
}
.header-button {
  margin-top: 60px;
}
.header-button button {
  margin: 0 10px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.header-button-left {
  background-color: #89ca62;
  padding: 16px 19px;
}
.header-button-right {
  background-color: #14b9d5;
  padding: 16px 30px;
}

/* Section POSTS */
.posts-wrapper {
  padding: 49px 0 50px;
  text-align: center;
}
.posts {
  background-color: #f2f2f2;
}
.title {
  font-size: 27px;
  line-height: 36px;
  font-weight: 700;
  color: #18b4cf;
  text-align: center;
  text-transform: uppercase;
}
.posts-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 52px;
}
.posts-images-hide {
  display: none;
}
.posts-images-description {
  width: 370px;
  background-color: #fff;
  margin-top: -5px;
  padding: 22px 0;
}
.posts-images-description p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #353a3d;
}
.posts-images-item4 {
  margin-top: -70px;
}
.posts-images-item5 {
  margin-top: 32px;
}
.posts-images-item6 {
  margin-top: -70px;
}
.post-btn-toggle {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  line-height: 34px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #14b9d5;
  color:#fff;
  margin-top: 30px;
}
.post-btn-toggle:hover {
  box-shadow: 0px 0px 5px 8px rgba(137, 202, 98, 1);
  color: rgba(137, 202, 98, 1);
}
/* Section CLIENTS */
.clients {
  height: 588px;
  background: url(../img/main/parallax-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.clients-title {
  padding-top: 108px;
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.clients-line {
  margin-top: 87px;
  width: 63px;
  height: 3px;
  background-color: #18b4cf;
  border: none;
}
.clietns-brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 100px 0;
}

/* Section RATED */
.rated {
  padding-top: 49px;
}
.rated-img {
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: stretch;
}

/* Section NEWS */
.news-wrapper {
  padding-top: 48px;
  padding-bottom: 71px;
}
.news-items {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 44px 59px;
}
.news-item1 {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr;
}
.news-item-content-right {
  background-color: #f9f7f7;
  text-align: right;
  padding: 0 24px;
}
.news-item-content-right-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #353a3d;
  padding-top: 41px;
}
.news-item-content-text-right {
  padding-top: 14px;
}
.news-item2 {
  display: grid;
  grid-column: 4 / 5;
  align-items: stretch;
}
.news-item-description {
  background-color: #f9f7f7;
  text-align: center;
  padding-top: 8px;
  color: #353a3d;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.news-item3 {
  display: grid;
  grid-column: 1 / 3;
  justify-items: stretch;
}
.news-item4 {
  display: grid;
  grid-column: 3 / 5;
  justify-items: stretch;
}
.news-item5 {
  display: grid;
  grid-column: 1 / 3;
  justify-items: stretch;
}
.news-item6 {
  display: grid;
  grid-column: 3 / 5;
  justify-items: stretch;
}
.news-item-content-bottom {
  background-color: #f9f7f7;
  text-align: right;
}
.news-item-bottom-title {
  font-size: 18px;
  line-height: 24px;
  color: #353a3d;
  font-weight: 700;
  padding-top: 12px;
  padding-right: 27px;
}
.news-item-bottom-text {
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 15px;
}
.news-item7 {
  display: grid;
  grid-column: 1 / 2;
  display: grid;
  align-items: stretch;
}
.news-item8 {
  display: grid;
  grid-column: 2 / 5;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

/* Footer */
.footer {
  background-color: #000000;
  padding: 29px 0 20px;
}
.footer-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-copy {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
}
.footer-logo {
  justify-self: end;
}
