* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #424f57;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.header {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  background-attachment: fixed;
  position: relative;
}
.header-top {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 25px;
}
.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px 0;
}
.header-logo {
  color: #424f57;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.header-logo span {
  color: #14afca;
}
.header-menu {
  display: flex;
}
.header-menu li {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.header-menu a:hover {
  color: #14afca;
}

.header-menu li + li {
  margin-left: 50px;
}
.header-title {
  font-size: 52px;
  line-height: 75px;
  color: #fff;
  text-align: center;
  padding-top: 300px;
  text-transform: uppercase;
}
.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 95px;
  width: 100%;
  margin-top: -40px;
}
.chevron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  transform: skew(0deg, 6deg);
}
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  transform: skew(0deg, -6deg);
}
.question {
  margin-top: 70px;
}
.title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #14afca;
  text-align: center;
}
.subtitle {
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  color: #424f57;
  text-align: center;
}
.question-subtitle {
  margin-top: 10px;
}
.question-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #424f57;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.companies {
  margin-top: -55px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 600px;
  background-attachment: fixed;
}
.companies-title {
  padding-top: 140px;
}
.companies-subtitle {
  color: #fff;
}
.companies-items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-row-gap: 90px;
  grid-column-gap: 60px;
  align-items: center;
  justify-content: center;
}

.meet {
  padding-top: 100px;
  padding-bottom: 80px;
}
.meet-items {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.meet-item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.meet-item-text {
  margin-top: 20px;
  padding: 0 30px;
  color: #424f57;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}
.testimonials {
  margin-top: -55px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 600px;
  background-attachment: fixed;
}
.testimonials-title {
  padding-top: 150px;
}
.testimonials-subtitle {
  color: #fff;
  margin-top: 10px;
}
.testimonials-text {
  margin-top: 48px;
  text-align: center;
  color: #d3cccc;
  padding: 0 180px;
  font-size: 16px;
  line-height: 28px;
  font-style: italic;
}
.testimonials-text-writter {
  margin-top: 28px;
  text-align: right;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding-right: 300px;
}

.why-title {
  padding-top: 50px;
}
.why {
  padding-bottom: 100px;
}
.why-text {
  text-align: center;
  color: #424f57;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  padding: 0 200px;
}
.footer {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 22px;
  color: #3d3c3c;
}
.footer span {
  font-weight: 700;
}
