.Header {
  text-align: center;
}
.Title {
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  margin-top: 120px;
  text-align: center;
}
.Products {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 1100px;
  margin: 120px auto 0;
}
