.ProductItem {
    border: 1px solid #ccc;
    border-radius: 5px;
    background:#ccc;
}
.ProductItemImg {
    background-color: #fff;
    text-align: center;
}
.ProductItem img {
    width: 200px;
    height: 200px;
}
.Content {
    padding: 10px;
}

.ProductItemColor {
    margin-top: 5px;
}

.Blue {
    color: blue;
    font-weight: 700;
}
.Red {
    color: red;
    font-weight: 700;
}
.Black {
    color: black;
    font-weight: 700;
}
.Star {
    margin-top: 5px;
}

.ProductItemCode {
    margin-top: 5px;
}


.ProductItemBottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProductItemPrice {
    font-weight: 700;
}

.Button {
    background-color: #1e1e20;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}
.Star {
    display: block;
    display: inline-block;
}

