// Footer
.footer {
    background-color: $footer-background-color;
    text-align: center;
    padding: 66px 0;
    &__title {
        @include text-properties(16px, 22px, 700, $footer-title-color);
        text-transform: uppercase;
    }
    &__text {
        padding-top: 22px;
        max-width: 684px;
        margin: 0 auto;
        @include text-properties(16px, 28px, 400, $footer-text-color);
    }
    &__icons {
        padding-top: 37px;
    }
    &__contacts {
        padding-top: 34px;
        @include text-properties(16px, 26px, 400, $footer-text-color);
    }
}