// Header
.header {
    &__menu {
        padding: 45px 179px;
    }
   
    &__menu-list {
        display: flex;
        justify-content: space-between;
    }
    &__menu-link {
        @include text-properties(14px, 22px, 400, $main-color);
        text-transform: uppercase;
        letter-spacing: 1.1px;
        &:hover {
            color: $hover-color;
        }
    }  
    &__bg {
        background-image: url('../img/header/hero1200.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 550px; 
    }
}



