// Posts
.title {
    @include text-properties(16px, 22px, 700, $main-color);
    text-transform: uppercase;
}
.posts {
    padding: 69px 0;
    &__items {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 32px;
    }
    &__item {
        display: flex; 
    }
    &__item-img {
        margin-right: 20px;
    }
    &__item-content-title {
        @include text-properties(16px, 30px, 700, #7C7C7C);
    }
    &__item-content-description {
        @include text-properties(12px, 20px, 400, #7C7C7C);
    }
    &__item-content-text {
        margin-top: 10px;
        @include text-properties(14px, 26px, 400, #5C5C5C);
    }
}
    
// Shots
.shots {
    background-color: rgba(0, 0, 0, 0.03);
    &__title-wrapper {
       padding-top: 47px;
       display: flex;
       justify-content: space-between;
    }
    &__images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-column-gap: 20px;
    }
    &__img {
        padding-top: 24px;
        padding-bottom: 50px;
        &:last-child {
            margin-right: 0px;
        }
    }
}


