// Media
@media (max-width: 1200px) {
    .shots__img {
        max-width: 250px;
     }
}
@media(max-width: 1100px) {
    .header__menu {
        padding: 45px 100px;  
    }  
    .shots__img {
       max-width: 220px;
    }

}
@media(max-width: 900px) {
    .header__menu {
        padding: 45px 70px;  
    }
    .shots__img {
        max-width: 250px;
        &:last-child {
            display: none;
        }
    }
}
@media(max-width: 768px) {
    .header {
        &__menu-burger {
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 60;
            background-color: #000;
            padding: 8px;
            span {
                transition: all 0.3s;
                height: 3px;
                width: 30px;
                background-color: #fff;
                display: block;
                margin: 4px;
                z-index: 5;
            }
            .first {
                transform: translate(-1px, 7px) rotate(45deg);
            }
            .middle {
                transform: scale(0);
            }
            .last {
                transform: translate(0px, -7px)rotate(-45deg);
                z-index: 5;
            } 
        }
        &__menu-list {
            opacity: 0;
            visibility: hidden;
            right: 14px;
            transition: 0.5s;
            top: 150px;
            position: absolute;
            flex-direction: column;
            background: #F5F5F5;;
            width: 350px;
            &--active {
                top: 80px;
                opacity: 1;
                visibility: visible;
                transition: 0.5s;
            }
        }
        &__menu-link {
            margin-bottom: 8px;
            padding: 10px 20px;
                &:last-child {
                margin-bottom: 0;    
            }
        }
        &__bg {
            background-image: url('../img/header/hero768.png');
            background-size: cover;
            height: 361px; 
        }
    }
    .posts__items {
        grid-template-columns: repeat(1, 1fr);  
    }
    .shots__img {
        max-width: 200px;
    }
    .shots__title {
        display: none;
    }
}
@media(max-width: 668px) {
    .shots__img {
        max-width: 180px;
    }
}
@media(max-width: 570px) {
    .header__menu-list {
        max-width: 250px;
    }
    .shots__img {
        max-width: 150px;
    }
}
@media(max-width: 490px) {
    .header__bg {
        background-image: url(../img/header/hero320.png);
        background-size: cover;
        height: 150px; 
    }
    .title {
        font-size: 14px;
    }
    .posts__item {
        display: block;
        &-content-title {
            font-size: 14px;
        }
        &-content-text {
            display: none;
        }
    }
    .shots {
        background-color: #fff;
        &__title {
            font-size: 14px;
        }
        &-title-wrapper {
            padding-top: 38px;
        }
        &__img {
            max-width: 301px;
            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }
    }
    .footer {
        padding: 38px 0 47px 0;
        &__title {
            font-size: 14px;
        }
        &__text {
            font-size: 12px;
            line-height: 20px;
        }
        &__contacts {
            font-size: 14px;
            line-height: 24px;
        }
    }
    
}