* {
  box-sizing: border-box;
}
body {
  font-family: "Arimo", sans-serif;
}
td,
th {
  border: 2px solid #e3e3e3;
}

.table1 {
  border: 20px solid #3a4965;
  margin: 100px auto;
}
.table1 td {
  text-transform: uppercase;
}
.table1-column1 {
  width: 313px;
}
.table1-header-combined {
  color: #484848;
  background: #fafafa;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}
.table1-header-combined span {
  font-size: 30px;
  line-height: 34px;
}
.table1-header-top {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  padding: 18px 60px;
  text-transform: uppercase;
  border: none;
}
.table1-header-top-column2 {
  background-color: #89c331;
}
.table1-header-top-column3 {
  background-color: #f04a56;
}
.table1-header-top-column4 {
  background-color: #20807c;
}
.table1-header-bottom {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  padding: 13px 33px;
  border-bottom: none;
  border-top: none;
  background: #fafafa;
  color: #484848;
}
.table1-header-bottom span {
  position: relative;
  font-size: 18px;
  line-height: 28px;
  vertical-align: super;
  margin-left: -10px;
}
.table1-header-bottom span::before {
  content: ".99";
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  left: -5px;
  top: -22px;
}
.table1-main {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: #484848;
}
.table1-main td {
  padding: 20px 0;
  border-top: none;
}
.table1-main-row1,
.table1-main-row3,
.table1-main-row5 {
  background-color: #f2f2f2;
}
.table1-main-row2,
.table1-main-row4,
.table1-main-row6 {
  background-color: #e3e3e3;
}
.table1-main-column1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: none;
  text-transform: uppercase;
}
.table1-main-column1 img {
  margin-right: 5px;
}
.table1-footer {
  text-align: center;
}
.table1-footer td {
  padding: 30px 43px;
}
.table1-column1.table1-row9 {
  background: #dddddd;
}
.table1-column2.table1-row9,
.table1-column4.table1-row9 {
  background: #eeeeee;
}
.table1-column3.table1-row9 {
  background: #eeeeee;
}
.table1-footer button {
  color: #fff;
  padding: 17px 57px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.table1-footer-button1 button {
  padding: 17px 45px;
  background-color: #484848;
  box-shadow: 0px 5px 0px #404040;
}
.table1-footer-button2 button {
  background-color: #89c331;
  box-shadow: 0px 5px 0px #79b027;
}
.table1-footer-button3 button {
  background-color: #f04a56;
  box-shadow: 0px 5px 0px #df3a46;
}
.table1-footer-button4 button {
  background-color: #20807c;
  box-shadow: 0px 5px 0px #16736f;
}

.table2 {
  border: 20px solid #3a4965;
  margin: 100px auto;
}
.table2 td {
  text-align: center;
  vertical-align: middle;
  color: #484848;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}
.table2-header th {
  padding: 26px 25px;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #484848;
  font-weight: 700;
  border-bottom: 20px solid #3a4965;
}
.table2-header-column1 {
  background: #fafafa;
}
.table2-header-column1 span {
  font-size: 14px;
}
.table2-column2,
.table2-column4,
.table2-column6 {
  background-color: #e3e3e3;
}
.table2-column1.table2-row2 {
  background-color: #89c331;
  border-bottom: 2px solid #89c331;
}
.table2-column1.table2-row3 {
  background-color: #f04a56;
  border-bottom: 2px solid #f04a56;
}
.table2-column1.table2-row4 {
  background-color: #20807c;
}
.table2-column1.table2-row2,
.table2-column1.table2-row3,
.table2-column1.table2-row4 {
  padding: 23px 8px 24px 8px;
}
.table2-column1 p {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.table2-column1 span {
  color: #fff;
  vertical-align: middle;
}
.table2-column1-num {
  position: relative;
  font-size: 36px;
  margin-right: 25px;
}
.table2-column1-num::after {
  content: ".99";
  position: absolute;
  font-size: 18px;
  top: 0;
}
.table2-column1 button {
  margin-top: 13px;
  padding: 8px 40px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #414141;
  box-shadow: 0px 5px 0px #343434;
}
