.wrapper {
    width: 256px;
    margin: 0 auto;
}
.slider-container {
    overflow: hidden;
    /* background-color: pink; */
}

.slider-track {
    display: flex;

    /* background-color: yellow; */
    transition: 1s;
}

.sldier-item {
  /* width: 256px; */
}

.slider-buttons {
    text-align: center;
}