body {
    background-color: #000;
}
.wrapper {
    width: 700px;
    margin: 0 auto;
}
.output-block {
    font-size: 50px;
    color: #fff;
}
.output-block span {
    font-size: 50px;
    color: red;
    font-weight: 700;
}
.images{
    position: relative;
    z-index: 5;
}
.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;
    opacity: 1;
    transition: all 0.9s;
}
.image-to-show:first-child {
    z-index: 10;
}
.image-hide {
    opacity: 0;
}
.control-buttons {
    position: absolute;
    width: 400px;
    opacity: 0;
    transition: all 2s;
    top: 450px;
}
.show-control-buttons {
    opacity: 1;
    top: 530px;
}
.control-buttons input {
    padding: 15px 30px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}
.control-button-stop {
    background-color: red;
}
.control-button-start {
    background-color: green;
}

