<footer class="footer">
    <div class="container">
        <h3 class="footer__title">
            - get in touch with us -
        </h3>
        <p class="footer__text">
            Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
        </p>
        <div class="footer__icons">
            <a href=""> <img src="img/footer/footer-icon1.png" alt=""></a>
            <a href=""> <img src="img/footer/footer-icon2.png" alt=""></a>
            <a href=""> <img src="img/footer/footer-icon3.png" alt=""></a>
            <a href=""> <img src="img/footer/footer-icon4.png" alt=""></a>
            <a href=""> <img src="img/footer/footer-icon5.png" alt=""></a>
        </div>
        <p class="footer__contacts">
            Moonshine St. 14-05 Light City   /   T. +00 (123) 456 78 90   /   first.last@email.com
        </p>
    </div>
</footer>