<header class="header">
    <div class="container">
        <div class="header__top">
            <nav class="header__menu">
                <div class="header__menu-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Home</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">About Us</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Our Journal</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Projects</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">news</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">features</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__bg">
        </div>
    </div>
</header>