<main class="main">
    <section class="posts">
        <div class="container">
            <h2 class="title">
                - our Recent posts
            </h2>
            <div class="posts__items">
                <div class="posts__item">
                    <div class="posts__item-img">
                        <img src="img/main/posts/post-img1.png" alt="">
                    </div>
                    <div class="posts__item-content">
                        <h3 class="posts__item-content-title">
                            Aenean Adipiscing Etiam Vestibulum
                        </h3>
                        <p class="posts__item-content-description">
                            Photography, Journal   /   9 Comments
                        </p>
                        <p class="posts__item-content-text">
                            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        </p>
                    </div>
                </div>
                <div class="posts__item">
                    <div class="posts__item-img">
                        <img src="img/main/posts/post-img2.png" alt="">
                    </div>
                    <div class="posts__item-content">
                        <h3 class="posts__item-content-title">
                            Aenean Adipiscing Etiam Vestibulum
                        </h3>
                        <p class="posts__item-content-description">
                            Photography, Journal   /   9 Comments
                        </p>
                        <p class="posts__item-content-text">
                            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        </p>
                    </div>
                </div>
                <div class="posts__item">
                    <div class="posts__item-img">
                        <img src="img/main/posts/post-img3.png" alt="">
                    </div>
                    <div class="posts__item-content">
                        <h3 class="posts__item-content-title">
                            Aenean Adipiscing Etiam Vestibulum
                        </h3>
                        <p class="posts__item-content-description">
                            Photography, Journal   /   9 Comments
                        </p>
                        <p class="posts__item-content-text">
                            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        </p>
                    </div>
                </div>
                <div class="posts__item">
                    <div class="posts__item-img">
                        <img src="img/main/posts/post-img4.png" alt="">
                    </div>
                    <div class="posts__item-content">
                        <h3 class="posts__item-content-title">
                            Aenean Adipiscing Etiam Vestibulum
                        </h3>
                        <p class="posts__item-content-description">
                            Photography, Journal   /   9 Comments
                        </p>
                        <p class="posts__item-content-text">
                            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shots">
        <div class="container">
            <div class="shots__title-wrapper">
                <h2 class="shots__title title">
                    - Latest Instagram Shots
                </h2>
                <h2 class="shots__title--right title">
                    go to our instagram page -
                </h2>
            </div>
            <div class="shots__images">
                <img class="shots__img"  src="img/main/shots/shots1.png" alt="">
                <img class="shots__img"  src="img/main/shots/shots2.png" alt="">
                <img class="shots__img"  src="img/main/shots/shots3.png" alt="">
                <img class="shots__img"  src="img/main/shots/shots4.png" alt="">
            </div>
        </div>
    </section>
</main>