/* General styles */
* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/body-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
}

/* Header */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.header-logo {
  display: flex;
  align-items: center;
  position: relative;
}
.header-logo:hover {
  color: #f26522;
}
.header-logo::before {
  position: absolute;
  content: "";
  width: 53px;
  height: 47px;
  background-image: url(../img/logo-hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}
.header-logo:hover::before {
  display: block;
}
.header-logo-img {
  margin-right: 8px;
}
.header-logo-text-top {
  font-size: 29px;
  line-height: 29px;
  font-weight: 700;
}
.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.header-contacts-email:hover,
.header-contacts-phone:hover {
  color: #f26522;
}

/* Main */
.main {
  margin-top: 22px;
}
.gallery-items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 37px 62px;
}
.gallery-item-text {
  margin-top: 20px;
  text-align: center;
}
.gallery-item:hover {
  color: #f26522;
}
.gallery-item-img {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.gallery-item-hover {
  width: 100%;
  height: 55px;
  background-color: #f26522;
  position: absolute;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 12px;
  bottom: 5px;
  left: 0;
  transform: translateY(60px);
  transition: 0.3s;
  overflow: hidden;
}
.gallery-item-hover-text {
  font-size: 10px;
  line-height: 10px;
}
.gallery-item:hover .gallery-item-hover {
  transform: translateY(0px);
  color: #fff;
}
.gallery-item-hover-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.gallery-item-hover-bottom-text {
  position: relative;
  padding-right: 37px;
}
.gallery-item-hover-bottom-text::after {
  content: "";
  width: 8px;
  height: 12px;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  right: 14px;
}

/* Footer */
.footer-copy {
  margin-top: 49px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
}
