.Cart {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}
.CartButtonClose {
  text-align: right;
}
.CartButtonClose img {
  cursor: pointer;
  background-color: none;
  background: red;
}
.CartImg img {
  width: 200px;
  height: 200px;
}
.CartDescription {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  list-style: none;
}
.CartDescription li {
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}
.CartDescription li span {
  margin-right: 40px;
}
