span {
    display: inline-block;
    padding: 10px;
    border-radius: 30%;
    border: 2px solid grey;
    margin-right: 10px;
}
form {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    width: 300px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
button {
    border-radius: 50%;
    border: 1px solid grey;
    outline: none;
    width: 22px;
    height: 22px;
    text-align: center;
    cursor: pointer;
}
.focused-green { 
    outline: none;
    border: 2px solid green;
} 
.focused-red { 
    outline: none;
    border: 2px solid red;
} 