* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0; 
}
ul,li {
    list-style: none;
    padding: 0;
}
.centered-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs {
    display: flex;
    z-index: 1;
}
.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
    font-size: 26px;
}
.tab-content {
    padding: 10px 40px;
    width: 800px;
    border: 2px solid #23201D;
    /* border-top: none; */
    background-color: #937341;
    font-size: 22px;
    line-height: 28px;
    position: relative;
    top: -40px;
}
.tab-content-item {
    display: none;
}
.tabs-title-active {
    color: #23201D;
    background-color: #937341;  
    font-weight: 700;
}