body {
  font-family: "Droid Sans", arial, sans-serif;
  background-color: #0e0e0e;
  overflow: hidden;
}
.wrapper {
  background-color: #11110f;
  max-width: 1280px;
  margin: 50px auto;
  height: calc(100vh - 100px);
  color: yellow;
  font-weight: 700;
}
.wapper-main {
  position: absolute;
  width: 1200px;
  height: 52em;
  bottom: 0;
  font-size: 60px;
  font-weight: bold;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
  margin-bottom: 50px;
  padding: 0 100px;
  text-align: justify;
}
.wrapper-content {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 0s infinite;
  max-width: 1000px;
  padding: 0 40px;
}
.wrapper-content h1,
.wrapper-content h2 {
  text-align: center;
  margin-bottom: 90px;
}
.wrapper-content p {
  margin-bottom: 100px;
  line-height: 90px;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
